#root {
  background-color: #e6ecf0;
  height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 500px;
}

@media only screen and (min-width: 600px) {
  .App,
  .form-controls {
    width: 70vw;
  }

  @media only screen and (max-width: 800px) {
    .post-form-container form textarea {
      width: 60vw;
    }
  }
}

@media only screen and (min-width: 800px) {
  .App,
  .form-controls {
    width: 50vw;
  }
}

@media only screen and (min-width: 1000px) {
  .App,
  .form-controls {
    width: 30vw;
  }
}

.site-header,
.site-greeting {
  text-align: center;
}

.site-header {
  margin-top: 3vh;
}

.login-form-container,
.signup-form-container,
.post-container {
  display: flex;
  justify-content: center;
}

.post-form-container {
  display: flex;
  justify-content: center;
}

.post-form-container form {
  display: flex;
  flex-direction: column;
}

.post-form-container textarea {
  width: 30vw;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.post-button {
  display: flex;
  justify-content: center;
}

.post-list {
  min-height: 20vh;
  max-height: 60vh;
  overflow: auto;
}

.post-list,
.post-item {
  margin: 5px 0;
  border-radius: 10px !important;
}

.post-content {
  word-wrap: break-word;
}
.post-creator {
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
}

.post-date {
  text-align: right;
}

.post-delete-button {
  margin-left: 5px;
}
